body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    margin: 0%;
}

.flex-container {
    display: flex;
    width: 80%;
    margin: 100px 100px 150px 100px;

}

.text-portion h1 {
    font-size: 90px;

}

.text-portion {
    margin-top: 20px;
}

.text-portion span {
    color: orange;
}

.author-img {
    width: 40%;
}

.para {
    text-align: justify;
    width: 80%;
    margin-bottom: 150px;
    font-size: 20px;

}

a {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 20px 40px;
    border-radius: 25px;
    color: white;
    font-size: 30px;


}

.mid-portion {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

}

.mid-portion img {
    width: 40%;
    margin-left: 200px;
    margin-top: 200px;

}

.flex {
    display: flex;
    width: 50%;
}

.mid-para {
    text-align: justify;
    font-size: 25px;
    width: 80%;
    margin-right: 150px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.button {
    margin-top: 50px;
}

.mid-text {
    width: 60%;
    margin-top: 10%;
}

.mid-portion {
    display: flex;
}

.mid-text h1 {
    font-size: 70px;
}

.last-portion h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 200px;
}

.lp-para {
    font-size: 30px;
    text-align: center;
    width: 50%;
    margin-left: 400px;

}

#rec-one img {
    width: 80%;
}

#rec-two img {
    width: 90%;
}

#rec-three img {
    width: 40%;
}

.last-flex {
    display: flex;
}