body {
    font-family: 'Fredoka One', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    margin: 0%;
}

.flex-container {
    display: flex;
    width: 80%;
    margin: 100px 100px 150px 100px;

}

.text-portion h1 {
    font-size: 90px;

}

.text-portion {
    margin-top: 20px;
}

.text-portion span {
    color: orange;
}

.author-img {
    width: 40%;
}

.para {
    text-align: justify;
    width: 80%;
    margin-bottom: 150px;
    font-size: 20px;

}

a {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 20px 40px;
    border-radius: 25px;
    color: white;
    font-size: 30px;


}

.mid-portion {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

}

.mid-portion img {
    width: 40%;
    margin-left: 200px;
    margin-top: 200px;

}

.flex {
    display: flex;
    width: 50%;
}

.mid-para {
    text-align: justify;
    font-size: 25px;
    width: 80%;
    margin-right: 150px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.button {
    margin-top: 50px;
}

.mid-text {
    width: 60%;
    margin-top: 10%;
}

.mid-portion {
    display: flex;
}

.mid-text h1 {
    font-size: 70px;
}

.last-portion h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 200px;
}

.lp-para {
    font-size: 30px;
    text-align: center;
    width: 50%;
    margin-left: 400px;

}

.final-flex {
    display: flex;
}

.boxs img {
    width: 400px;
    margin: 5px 0px 0px -25px;
    padding-left: 0%;
    padding-right: 10px;


}


.boxs {
    box-shadow: 5px 5px 5px 5px gray;
    margin: 3% 4% 5% 3%;
    padding: 10px 10px 10px 55px;
    border-radius: 20px;
    width: 50px 50px 50px 500px;

}

.help-hunger {
    background-color: orange;
    max-height: 200%;
    text-align: center;
    padding-bottom: 50px;
    padding-top: .5px;

}

.help-hunger h1 {
    margin-bottom: 50px;
    margin-top: 50px;
}

input {
    height: 40px;
    font-size: 24px;

}

.h2 {
    margin-top: -10px;
}

.donate-button {
    padding: 10px 50px;
    border-radius: 5px;
    background-image: linear-gradient(black);
}


.follower {
    display: flex;
    box-shadow: 1px 2px 2px 3px gray;
    margin: 100px 200px 10px 200px;
    width: 5px 50px 50px 50px;
    border-radius: 20px;


}

.follower h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.follower h2 {
    margin-bottom: 50px;
}

.individual {
    width: 100%;
    text-align: center;

}

footer {
    background-color: black;
    height: 250px;
    margin-top: 100px;
}

.footer {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 40px;

}

.footer span {
    color: orange;
}

.footer h1 {
    padding: 50px 0px;
}

.footer h6 {
    margin-top: -80px;
    font-weight: normal;
    margin-bottom: -25px;

}